@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model List<DotNetCore.Web.Areas.Admin.Models.ContentViewModel>
@{
    ViewBag.Title = "Writed Contents";
}
<div class="page-title">
    <div class="title_left">
        <h3>
            Writed Contents
        </h3>
    </div>
</div>

<div class="main-content">
    <table class="table table-hover">
        <thead class="thead-inverse">
            <tr>
                <th class="width-14">
                    HeadLine
                </th>
                <th class="width-6">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var content in Model)
                {
                    <tr>
                        <td>
                            @content.Title
                        </td>
                        <td>
                            <div class="btn-group">
                                <a href="@Url.Action("Edit", new { id = content.ContentId })" class="btn btn-default">
                                    <i class="fa fa-pencil" aria-hidden="true"></i> Edit
                                </a>
@if (User.Identity.IsAuthenticated && (User.IsInRole("Administrator") || User.IsInRole("Approver")))
{
                                <a data-contentid="@content.ContentId" class="btn btn-default btn-approve">
                                    <i class="fa fa-check" aria-hidden="true"></i> Approve
                                </a>
                                <a data-contentid="@content.ContentId" class="btn btn-default btn-reject">
                                    <i class="fa fa-ban" aria-hidden="true"></i> Reject
                                </a>
}
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
</div>
