@using DotNetCore.Utility;
@model DotNetCore.Web.Models.TagViewModel
@{
    ViewBag.Title = "Tag";
}


<!-- SECTION -->
<div class="section">
    <!-- container -->
    @await Component.InvokeAsync("BannerHomePage")
    <!-- /container -->
</div>
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">               
                @await Component.InvokeAsync("ContentTags", new { tagId = Model.TagId })
            </div>

            <div class="col-md-4">
                <!-- ad widget-->
                @await Component.InvokeAsync("Advertisement", new { advertisementPosition = Common.AdvertisementPosition.BodyTop })
                <!-- /ad widget -->
                <!-- social widget -->
                @await Component.InvokeAsync("Social", new { socialPosition = Common.SocialPosition.Body })
                <!-- /social widget -->
                <!-- category widget -->
                @await Component.InvokeAsync("ListCategory", new { listCategoryPosition = Common.ListCategoryPosition.Body })
                <!-- /category widget -->
                <!-- newsletter widget -->
                @await Component.InvokeAsync("Newsletter", new { newsletterPosition = Common.NewsletterPosition.Body })
                <!-- /newsletter widget -->
                <!-- post widget -->
                @await Component.InvokeAsync("PopularPosts")
                <!-- /post widget -->
                <!-- galery widget -->
                @await Component.InvokeAsync("Galery")
                <!-- /galery widget -->
                <!-- Ad widget -->
                @await Component.InvokeAsync("Advertisement", new { advertisementPosition = Common.AdvertisementPosition.BodyBottom })
                <!-- /Ad widget -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->