@using DotNetCore.Web
@using DotNetCore.Data.Models



<ul class="contact-social">
    <li><a href="@Model.FacebookLink" target="_blank" class="social-facebook"><i class="fa fa-facebook"></i></a></li>
    <li><a href="@Model.TwitterLink" target="_blank" class="social-twitter"><i class="fa fa-twitter"></i></a></li>
    <li><a href="@Model.GoogleLink" target="_blank" class="social-google-plus"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="@Model.InstagramLink" target="_blank" class="social-instagram"><i class="fa fa-instagram"></i></a></li>
</ul>



