@using DotNetCore.Web
@using DotNetCore.Data.Models
@model DotNetCore.Web.Models.SocialViewModel


<ul class="nav-social">
    <li><a href="@Model.FacebookLink" target="_blank"><i class="fa fa-facebook"></i></a></li>
    <li><a href="@Model.TwitterLink" target="_blank"><i class="fa fa-twitter"></i></a></li>
    <li><a href="@Model.GoogleLink" target="_blank"><i class="fa fa-google-plus"></i></a></li>
    <li><a href="@Model.InstagramLink" target="_blank"><i class="fa fa-instagram"></i></a></li>
</ul>

